@{
    ViewBag.Title = "Choose User";
}

<<<<<<< HEAD

<div class="card bg-glass">

    <div class="card-body px-4 py-5 px-md-5">
        <h2>Choisir Le type d'utilisateur</h2>
        <div>



            <div class="row" ">
                <div class="col-md-12 mb-2">
                    <a href="@Url.Action("Login", "Auth")" class="btn btn-primary btn-block">Continuer en tant que Membre</a>
                </div>
                <div class="col-md-12 mb-2">
                    <a href="@Url.Action("LoginCoach", "Coach")" class="btn btn-primary btn-block">Continuer en tant que Coach</a>
                </div>
                <div class="col-md-12 mb-2">
                    <a href="@Url.Action("LoginAdmin", "LoginAdmin")" class="btn btn-primary btn-block">Continuer en tant qu'Admin</a>
                </div>
            </div>
=======
<h2 >Choisir Le type d'utilisateur</h2>

<div >


   
        <div class="row" ">
        <div class="col-md-12 mb-2">
            <a href="@Url.Action("Login", "Auth")" class="btn btn-primary btn-block">Continuer en tant que Membre</a>
        </div>
        <div class="col-md-12 mb-2">
            <a href="@Url.Action("LoginCoach", "Coach")" class="btn btn-primary btn-block">Continuer en tant que Coach</a>
        </div>
        <div class="col-md-12 mb-2">
            <a href="@Url.Action("LoginAdmin", "LoginAdmin")" class="btn btn-primary btn-block">Continuer en tant qu'Admin</a>
>>>>>>> 9302fff822ecb79e10b2c0f6ae0ee2f4cc840620
        </div>
    </div>
</div>